body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
}

.content {
    display: flex;
    flex-grow: 1;
}

.side-panel {
    width: 200px;
    background-color: #333;
    color: white;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    height: 100%;
    overflow-y: auto;
}

.side-panel button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5em 1em;
    margin: 0.5em 0;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.side-panel button:hover {
    background-color: #45a049;
}

.main-content {
    margin-left: 220px;
    padding: 1em;
    flex-grow: 1;
    overflow-y: auto;
}

.supplier-details p {
    margin: 0.5em 0;
}

.parcel {
    border: 1px solid #ddd;
    margin-bottom: 1em;
    border-radius: 5px;
    padding: 1em;
}

.parcel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.parcel-body {
    display: none;
}

.parcel-body.active {
    display: block;
}

.parcel-body input {
    margin-right: 0.5em;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}

button {
    padding: 0.5em 1em;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
}

button#exportButton {
    background-color: #5cb85c;
}
